<p>recipe-add-component works!</p>
<form action="">
  <table>
    <tr>
      <td>title: </td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>image: </td>
      <td><input type="text"></td>
    </tr>
    <tr>
      <td>instructions: </td>
      <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
    </tr>
    <tr>
      <td>Ingredients: <button type="button">+</button></td>
    </tr>
    <tr>
      <td><input type="text"></td>
    </tr>
    <tr>

      <td><button type="button" (click)="goBack()">Back</button></td>
      <td><button type="submit">Add</button></td>
    </tr>
  </table>
</form>
