<h1>Add Recipe</h1>
<form [formGroup]="myForm" (ngSubmit)="processForm()">
  <table>
    <tr>
      <td>Title: </td>
      <td><input type="text" formControlName="title"></td>
    </tr>
    <tr>
      <td>Image: </td>
      <td><input type="text" formControlName="image"></td>
    </tr>
    <tr>
      <td>Instructions: </td>
      <td><textarea name="" id="" cols="30" rows="10" formControlName="instructions"></textarea></td>
    </tr>
    <tr>
      <td>Ingredients: <button type="button" (click)="addIngredients()">+</button></td>
    </tr>
    <div formArrayName="ingredientsArr" >
      <tr *ngFor="let ing of myIngArr.controls;let i=index" >
        <div [formGroupName]="i">
          <td ><input type="text" formControlName="ingredients"><button type="button" (click)="removeIng(i)" >X</button></td>

        </div>

      </tr>
    </div>

    <tr>

      <td><button type="button" (click)="goBack()">Back</button></td>
      <td><button type="submit" [disabled]='!myForm.valid || myIngArr?.length==0'>Add</button></td>
    </tr>
  </table>
</form>
<p>{{myForm.valid}}</p>
